.App {
  text-align: center;
    background-attachment: fixed;
    position: fixed;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header{
  display: flex;
  font-family: "Manjari Thin", monospace;
  color: azure;
  padding-left: 100px;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.Line{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
    margin-top: 0px;
}
.background{
  background-image: url("https://wallpapercrafter.com/sizes/2048x1152/87069-landscape-mountain-monochrome-black-and-white-4k-5k.jpg");
  height: 100vh;
  font-size:50px;
  background-repeat:no-repeat;
    background-attachment: fixed;
    position: static;
}

.MySelect{
  width: 1000px;
  justify-content: flex-end;
}

.List{
  width: 400px;
  margin-right: 200px;
  margin-bottom: 0px;
}



.button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.ButtonList{
    margin-top: 0px;
margin-left: 1100px;
    padding-top: 0px;

}
.Chart{
    margin-bottom: 0px;
    padding-bottom: 0px;
}